body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: darkblue;
}

h2 {
  color: darkblue;
}

.bilde {
  width: 300px;
  height: 200px;
  background-image: url("https://i.imgur.com/ORPlDFA.jpeg");
  background-size: cover;
  background-position: center;
  margin: 20px auto;
  border: 2px solid gray;
  border-radius: 10px;
}