
body {
  background-color: lightblue;  /* Bakgrunnsfarge */
  color: darkgreen;                 /* Tekstfarge */
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: left;
}

/* sentrerer innholdet (tekst + bilde) */
.innhold {
  text-align: center;         /* Sentrerer tekst */
  display: flex;
  flex-direction: column;     /* Plasserer elementene oppå hverandre */
  align-items: center;        /* Sentrerer bildet horisontalt */
}

/* Overskrifter */
h1 {
  color: darkgreen;
  margin-bottom: 10px;
}

h2 {
  color: darkgreen;
  margin-top: 10px;
}

/* Bilde i en div */
.bilde {
  width: 800px;
  height: 600px;  /* Fast høyde nødvendig!! */
  background-image: url("https://i.imgur.com/ORPlDFA.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0;
}

.spesiell-link {   /* instillinger for bare en link */
  color: darkblue;  
  font-weight: bold;
}